<% include ./template/head %>
<body>
<% include ./template/header %>
<div class="container">
</div>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="jquery/dist/jquery.js"></script>
</body>
</html>