<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/dist/css/bootstrap.css">
</head>
<% include ../template/header %>
<body>
<div class="container">
<h1><%= title %></h1>
<form role="form" action="/question/add" method="post">
 <div class="form-group">
	 <label for="description">Description:</label>
	 <textarea class="form-control" rows="5" name="description"></textarea>
 </div>
 <div class="form-group">
 	<label for="Question Type">Question Type</label>
 	<label class="radio-inline"><input type="radio" value="1" checked="true" name="questiontype">Single choice</label>
	<label class="radio-inline"><input type="radio" value="2" name="questiontype">Multi Choice</label>
	<label class="radio-inline"><input type="radio" value="3" name="questiontype">Free Text</label>
 </div>
 <div class="form-group">
 	<label for="Status">Status</label>
 	<label class="radio-inline"><input type="radio" checked="true" value="1" name="status">Active</label>
	<label class="radio-inline"><input type="radio" value="2" name="status">Inactive</label>
 </div>
 <h2>Answer</h2>
 <div class="form-group">
   <label for="answer1">Answer 1:</label>
   <input type="text" class="form-control" name="answer1">
   <label for="Status">Correct Answer</label>
 	<label class="radio-inline"><input type="radio" checked="true" value="0" name="correctanswer1">False</label>
   <label class="radio-inline"><input type="radio" value="1" name="correctanswer1">True</label>
 </div>
  <div class="form-group">
   <label for="answer1">Answer 2:</label>
   <input type="text" class="form-control" name="answer2">
    <label for="Status">Correct Answer</label>
 	<label class="radio-inline"><input type="radio" checked="true" value="0" name="correctanswer2">False</label>
   <label class="radio-inline"><input type="radio" value="1" name="correctanswer2">True</label>
 </div>
  <div class="form-group">
   <label for="answer1">Answer 3:</label>
   <input type="text" class="form-control" name="answer3">
    <label for="Status">Correct Answer</label>
 	<label class="radio-inline"><input type="radio" checked="true" value="0" name="correctanswer3">False</label>
   <label class="radio-inline"><input type="radio" value="1" name="correctanswer3">True</label>
 </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>